<%- include('partials/header') %>
<div class="ui main text container">
<div class="ui huge header">Coffee</div>
<div class="ui top attached">
    <div class="ui">
        <% blogs.forEach(function(blog){%>
            <div class="ui fluid raised violet card">
                <div class="ui centered  rounded big image">
                    <img src="<%= blog.image %>" alt="">
                </div>
                <div class="content">
                    <a class="header" href="/blogs/<%=blog._id%>"> <%= blog.title %></a>
                    <div class="meta">
                        <span><%=blog.created%></span>
                    </div>
                    <div class="description">
                        <p><%-String(blog.body).substring(0,100)%>...</p>
                    </div>
                    <div class="ui bottom attached button">
                        <a class="" href="/blogs/<%=blog._id%>">Read More <i class="right chevron icon"></i></a>
                    </div>
                </div>
            </div>
        <%});%>
    </div>
</div>
</div>


<%- include('partials/footer') %>